.root {
    -fx-background-color: white; /* Цвет фона */
    -fx-font-family: Montserrat;
}

.input_field {
    -fx-background-color: white;
    -fx-pref-height: 35;
    -fx-pref-width: 462;
    -fx-font-size: 1em;
    -fx-font-family: Montserrat;
}

.input_field_add_product {
    -fx-background-color: white;
    -fx-pref-height: 25;
    -fx-pref-width: 86;
    -fx-font-size: 1em;
    -fx-font-family: Montserrat;
}

Button {
    -fx-background-color: #97DEC9; /* Цвет фона кнопки */
    -fx-text-fill: black; /* Цвет текста на кнопке */
}

Button:hover {
    -fx-background-color: #CCCCFF; /* Цвет фона кнопки при наведении */
    -fx-cursor: hand;
}

Label {
    -fx-font-size: 12px; /* Размер шрифта */
    -fx-text-fill: black; /* Цвет текста */
    -fx-font-weight: bold;
}

#add_product_size_bold, #what_can_eat_size_bold {
    -fx-font-size: 14px; /* Размер шрифта */
    -fx-text-fill: black; /* Цвет текста */
    -fx-font-weight: bold;
}

#name_can_eat_product_table_column, #calorie_dose_can_eat_product_table_column, #proteins_dose_can_eat_product_table_column, #fat_dose_can_eat_product_table_column, #carbohydrates_dose_can_eat_product_table_column, #fiber_dose_can_eat_product_table_column {
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
    -fx-font-family: Montserrat;
    -fx-background-color: #CCCCFF;
    -fx-alignment: CENTER;
}

#name_can_eat_product_table_column {
    -fx-pref-width: 236;
}

#name_can_eat_product_table_column:hover {
    -fx-pref-width: 236;
    -fx-background-color: white;
}

#calorie_dose_can_eat_product_table_column, #proteins_dose_can_eat_product_table_column, #fat_dose_can_eat_product_table_column, #fiber_dose_can_eat_product_table_column {
    -fx-pref-width: 90;
}

#calorie_dose_can_eat_product_table_column:hover, #proteins_dose_can_eat_product_table_column:hover, #fat_dose_can_eat_product_table_column:hover, #fiber_dose_can_eat_product_table_column:hover {
    -fx-pref-width: 90;
    -fx-background-color: white;
}

#carbohydrates_dose_can_eat_product_table_column {
    -fx-pref-width: 110;
}

#carbohydrates_dose_can_eat_product_table_column:hover {
    -fx-pref-width: 110;
     -fx-background-color: white;
}