.root {
    -fx-background-color: white; /* Цвет фона */
    -fx-font-family: Montserrat;
}

.input_field {
    -fx-background-color: white;
    -fx-pref-height: 35;
    -fx-pref-width: 462;
    -fx-font-size: 1em;
    -fx-font-family: Montserrat;
}
.input_field_guest_fio {
    -fx-background-color: white;
    -fx-pref-height: 35;
    -fx-pref-width: 262;
    -fx-font-size: 1em;
    -fx-font-family: Montserrat;
}

.input_field_add_product {
    -fx-background-color: white;
    -fx-pref-height: 25;
    -fx-pref-width: 150;
    -fx-font-size: 1em;
    -fx-font-family: Montserrat;
}

Button {
    -fx-background-color: #ef7b45ff; /* Цвет фона кнопки */
    -fx-text-fill: black; /* Цвет текста на кнопке */
}

Button:hover {
    -fx-background-color: #d84727ff; /* Цвет фона кнопки при наведении */
    -fx-cursor: hand;
}

Label {
    -fx-font-size: 16px; /* Размер шрифта */
    -fx-text-fill: black; /* Цвет текста */
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
}

Text {
    -fx-font-size: 16px; /* Размер шрифта */
    -fx-text-fill: black; /* Цвет текста */
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
}

#guest_fio_column, #guest_phone_column, #guest_email_column, #guest_date_birth_column, #guest_passport_column {
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
    -fx-font-family: Montserrat;
    -fx-alignment: CENTER;
}

#guest_fio_column {
    -fx-pref-width: 205;
}

#guest_fio_column:hover {
    -fx-pref-width: 205;
    -fx-background-color: white;
}

#guest_phone_column {
    -fx-pref-width: 120;
}

#guest_phone_column:hover {
    -fx-pref-width: 120;
    -fx-background-color: white;
}

#guest_email_column: {
    -fx-pref-width: 130;
}

#guest_email_column:hover {
    -fx-pref-width: 130;
    -fx-background-color: white;
}

#guest_date_birth_column {
    -fx-pref-width: 105;
}

#guest_date_birth_column:hover {
    -fx-pref-width: 105;
    -fx-background-color: white;
}

#guest_passport_column {
    -fx-pref-width: 136;
}

#guest_passport_column:hover {
    -fx-pref-width: 136;
     -fx-background-color: white;
}