.root {
    -fx-background-color: #cdedf6ff; /* Цвет фона */
    -fx-font-family: Montserrat;
}

VBox {
    -fx-padding: 5; /* Отступы вокруг элементов */
    -fx-spacing: 5; /* Расстояние между элементами */
    -fx-background-color: #cdedf6ff;
}

Text {
    -fx-font-size: 22px; /* Размер шрифта */
    -fx-fill: black; /* Цвет текста */
    -fx-font-family: Montserrat;
}

Label {
    -fx-font-size: 14px; /* Размер шрифта */
    -fx-text-fill: black; /* Цвет текста */
}

.textField {
    -fx-pref-width: 80;
    -fx-background-color: #CCCCFF;
        -fx-font-size: 1.2em;
        -fx-font-family: Montserrat;
    ; /* Ширина текстового поля */
}

Button {
    -fx-background-color: #ef7b45ff; /* Цвет фона кнопки */
    -fx-text-fill: black; /* Цвет текста на кнопке */
}

Button:hover {
    -fx-background-color: #d84727ff; /* Цвет фона кнопки при наведении */
    -fx-cursor: hand;
}

#logout_btn {
    -fx-background-color: #5eb1bfff; /* Цвет фона кнопки */
    -fx-text-fill: black; /* Цвет текста на кнопке */
}

#logout_btn:hover {
     -fx-background-color: #042a2bff; /* Цвет фона кнопки при наведении */
     -fx-cursor: hand;
     -fx-text-fill: #cdedf6ff; /* Цвет текста на кнопке */
}